.background {
  background-color: #002554;
}

.fonts {
  font-family: ArialArial, Helvetica, sans-serif;
  color: #f6f3e7;
}

.bold {
  font-weight: bold;
}

#yellow {
  color: #ffc845;
}

.post {
  border-radius: 7px;
  border-color: #ffc845;
  background-color: #ffc845;
  color: #002554;
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.button {
  border-radius: 7px;
  background-color: #407ec9;
  color: #f6f3e7;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  height: 20px;
}

h1,
h2,
h3,
h4,
summary {
  color: #002554;
}

.link {
  text-decoration: none;
}

a:link,
a:visited {
  color: inherit;
}

a:hover {
  background-color: #ffc845;
  color: #002554;
}

.box {
  border-radius: 7px;

  border: 3px solid #ffc845;
}

.box2 {
  border-radius: 7px;
  border: 3px solid #407ec9;
}

.form {
  margin: auto;
  padding: 5px;
  border: 5px solid #ffc845;
  background-color: #f6f3e7;
  width: auto;
  color: #002554;
  font-weight: bold;
  border-radius: 15px;
}

.centered {
  margin: auto;
  padding: 5px;
  border: 5px solid #ffc845;
  width: auto;
  background-color: #f6f3e7;
  color: #002554;
  border-radius: 15px;
}

.postcentered {
  margin: 10px;
  padding: 5px;
  border: 5px solid #ffc845;
  width: auto;
  background-color: #f6f3e7;
  color: #002554;
  border-radius: 15px;
}

.table {
  margin: auto;
  padding: 5px;
  border: 5px solid #ffc845;
  background-color: #f6f3e7;
  width: 40%;
  color: #002554;
  font-weight: bold;
  border-radius: 15px;
}

th,
td {
  border: 1px solid black;
  border-radius: 5px;
}

#title {
  text-align: left;
}

#author {
  text-align: center;
}

#date {
  text-align: right;
}

.elementcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.formcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#createlayout {
  display: grid;
  grid-template-rows: 65px 1fr 100px;
  grid-template-columns: 200px 1fr 200px;
}

#cone {
  background-color: #407ec9;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  border-radius: 7px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

#ctwo {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

#cfour {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  border-radius: 7px;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 4;
}

#postslayout {
  display: grid;
  grid-template-rows: 65px 70px 1fr 100px;
  grid-template-columns: 100px 1fr 100px;
}

#pcone {
  background-color: #407ec9;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  border-radius: 7px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

#pctwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

#pcthree {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

#pcfour {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 4;
}

#indexlayout {
  display: grid;
  grid-template-rows: 65px 200px 1fr 100px;
  grid-template-columns: 50px 1fr 1fr 50px;
}

#icone {
  background-color: #407ec9;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  border-radius: 7px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
}

#ictwo {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
}

#icthree {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 10px;
}

#icfour {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 10px;
}

#icfive {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
}

#latestlayout {
  display: grid;
  grid-template-rows: 65px 240px 1fr 100px;
  grid-template-columns: 1fr 1fr;
}

#lcone {
  background-color: #407ec9;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  border-radius: 7px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 5;
}

#lctwo {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

#lcthree {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 10px;
}

#lcfour {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 10px;
}

#lcfive {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 4;
}
